@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* --font-sans: here if you have one */
		/* --font-mono: here if you got it... */

		/* prefixed with foreground because it should look good on the background */
		--foreground-destructive: 345 82.7% 40.8%;

		--background: 56 19% 96%;
		--foreground: 167 84% 4.9%;

		--muted: 56 20% 92%;
		--muted-foreground: 167 7.3% 30%;

		--popover: 0 0% 100%;
		--popover-foreground: 167 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 167 84% 4.9%;

		--border: 56 41.8% 80.4%;
		--input: 56 41.8% 80.4%;
		--input-invalid: 0 84.2% 60.2%;

		--primary: 167 27% 45%;
		--primary-foreground: 56 40% 98%;

		--secondary: 56 25% 81%;
		--secondary-foreground: 167 47.4% 11.2%;

		--accent: 56 24% 88%;
		--accent-foreground: 167 47.4% 11.2%;

		--destructive: 0 70% 50%;
		--destructive-foreground: 56 40% 98%;

		--ring: 167 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 56 10% 2.9%;
		--foreground: 56 20% 98%;

		/* prefixed with foreground because it should look good on the background */
		--foreground-destructive: 345 84% 60%;

		--muted: 56 6.6% 9%;
		--muted-foreground: 56 10.2% 75.1%;

		--popover: 0 0% 4.9%;
		--popover-foreground: 167 40% 98%;

		--card: 0 0% 4.9%;
		--card-foreground: 167 40% 98%;

		--border: 56 42.6% 17.5%;
		--input: 56 32.6% 17.5%;
		--input-invalid: 0 62.8% 30.6%;

		--primary: 167 25% 16%;
		--primary-foreground: 56 40% 98%;

		--secondary: 56 45% 10%;
		--secondary-foreground: 56 40% 98%;

		--accent: 56 45% 10%;
		--accent-foreground: 167 40% 98%;

		--destructive: 0 60% 40%;
		--destructive-foreground: 56 85.7% 97.3%;

		--ring: 167 12.6% 15%;
	}
}
